@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald:400,600&display=swap');

* {
    margin:0px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Oswald:600', sans-serif;
}

body {
    display: flex;
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
    width: 100vw;
    flex-flow: column;
}

.strikethrough {
    text-decoration: line-through;
}

.centered {
    text-align: center;
}

.header {
    background-image: url("imgs/palace-of-fine-art.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.header img {
    width: 7rem;
    border-radius: 50%;
}

.header h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.navigation {
    background-color: rgba(255, 255, 255, 0.795);
    height: 10vh;
    margin: 2rem 0;
    font-family: 'Oswald:600', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navigation a {
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    color: rgb(100, 98, 98);
    text-decoration: underline;
}

.container {
    display:flex;
    flex-flow: column;
}

.main {
    padding: 0 2rem;
}

.content {
    margin: 2rem 0;
    padding: 0 2rem;

}
.image1 {
    background-image: url("imgs/architectrure-architecture-bridge-1591382.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
}

.image2 {
    background-image: url("imgs/houston-mns.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
}

.social-media {
    display:flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 2rem;
}

.social-media a {
    text-decoration: none;
    color: #F9533F;
}

.social-media a:hover {
    color:rgb(168, 43, 29);
}

@media screen and (min-width: 800px) {
    .content {
        margin: 5rem 10rem;
    }
    .image1 {
        background-position: center;
    }
}