@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F7E3C2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #3B3B40;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3rem;
}

.hero-banner {
    height: 60vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero-fullscreen{
    height: 100vh;
    width: 100%;
}

#landing-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("imgs/bowl-closeup.jpg");
    background-size: cover;
    background-repeat: none;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

#landing-hero img {
    width: 15rem;
}

#hours-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("imgs/landing-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hours-hero h1 {
    color: #fff;
}

#about-hero {
    background-image: url("imgs/spring-rolls.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#about-hero h1 {
    color: #fff;
}

.main {
    margin: 5rem 0;
    display: flex;
}

.footer {
    background-color: #343A40;
    bottom: 0;
    height: 5vh;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;

}

.footer p {
    font-size: .7rem;
    margin: 0px;
}
