* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #52A6FA;
}