@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Roboto+Condensed&display=swap');

* {
    margin: 0;
}

/* Style the table and buttons */
body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

a {
    color: #112211;
    text-decoration: none;
}

#table {
    width: 80vw;
    height: 60vh;
    background-color: #477148;
    border-radius: 20rem;
    border: #caa472 1.5rem solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 2rem;
} 

#table label {
    margin: 1rem 0 0 0;
}

.rules a{
    color: white;
}

.rules a:hover {
    color: rgba(255, 255, 255, 0.616);
}

.points {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.hand {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem 0;
}

.hand img {
    height: 80%;
    margin: 1rem .5rem;
}

.panel {
    color: #112211;
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: .32rem;
    padding: .7rem 1.3rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem;
    color: #fff;
    position: relative;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(10,10,10,1);
}

.blue {
    background-color: #2092d4;
    box-shadow: 0px 10px 0px 0px #07649b;
}

.blue:hover {
    background-color: #57b6ee;
}

.green {
    background-color: #31813b;
    box-shadow: 0px 10px 0px 0px #0c5816;
}

.green:hover {
    background-color: #64b36e;
}

.red {
    background-color: #c43030;
    box-shadow: 0px 10px 0px 0px #860606;
}

.red:hover {
    background-color: #e66060;
}

button:disabled {
    background-color: #999;
    box-shadow: 0px 10px 0px 0px #525151;
}

button:disabled:hover {
    background-color: #999;
}

button:disabled:active {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    box-shadow: #525151;
}