@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Roboto+Condensed&display=swap');

/* Style the table and buttons */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

a {
    color: #112211;
    text-decoration: none;
}

#table {
    width: 70vw;
    height: 65vh;
    background-color: #477148;
    border-radius: 20rem;
    border: #caa472 1.5rem solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 2rem;
}

#table label {
    margin: 1rem 0 0 0;
}

.rules a{
    color: white;
}

.rules a:hover {
    color: rgba(255, 255, 255, 0.616);
}

.points {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.hand {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem 0;
}

.hand img {
    height: 80%;
    margin: 1rem .5rem;
}

.buttons {
    margin: 0 0 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.style-button {
    margin: 1rem;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    border: 2px #112211 solid;
    background-color: #fff;
    color: #112211;
}

.style-button:hover {
    background-color: rgba(255, 255, 255, 0.589);
}

